@import "../../../assets/css/variables";

.ReviewList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3vw 5vw;
  overflow: visible !important;
}

.review-list-top{
  display: flex;
  justify-content: space-between;

  button {
    width: 150px;
    height: 50px;
    margin-top: 5px;
  }
}