.goals-container {

  .form-group .form-control {
    display: block;
  }
  .form-group .custom-control {
    padding-top: 10px;
  }

  .Checkbox {
    display: inline-block;
  }
  .TextInput {
    display: inline-block;
    width: 96%;
  }
}